<style>
td,th {
    border: 1px solid black;
    font-size: 25px;
    align: center;
    min-width:70px;
}
table {
  border-collapse: collapse;
  padding: 15px;
  table-layout: auto;
  width: 180px;
}
</style>
<table id='table'>
  {{#table-pagination paginateBy=5 items=filterData as |rows|}}
    <thead id="tablehead">
      <tr>
        {{#each data.col as |col|}}
        <th width = 5% {{action "sortBy" col}}>
          {{col}}
        </th>
        {{/each}}
      </tr>
    </thead>
    <tbody id= "tablebody">
      {{#each data.row as |row|}}
        <tr>
          {{#each data.col as |col|}}
            <td>
             {{get row col}}
            </td>
          {{/each}}
        </tr>
      {{/each}}
    </tbody>
  {{/table-pagination}}
</table>
