<style>
td,th {
    border: 1px solid black;
    font-size: 25px;
    align: center;
    min-width:70px;
}
table {
  border-collapse: collapse;
  padding: 15px;
  table-layout: auto;
  width: 180px;
}
/*{{!--{{action "sort" col false}}--}}*/
</style>
<table id='table'>
  <thead id="tablehead">
    <tr>
      {{#each data.col as |col|}}
      <th width = 5%>
        {{col}}
      </th>
      {{/each}}
    </tr>
  </thead>
  <tbody id= "tablebody">
    {{#table-pagination paginateBy=5 items=data.row as |rows|}}
      {{#each rows as |row|}}
        <tr>
          {{#each row as |rowData|}}
            <td>
              {{rowData}}
            </td>
          {{/each}}
        </tr>
      {{/each}}
    {{/table-pagination}}
  </tbody>
</table>
