<center>
<b><h1>Deleted logs </h1></b>
{{#disp-table colData=obj.col rowData=obj.row table_name=table_name sortBy = 'sortBy' isPresent = true}}
{{/disp-table}}
<br/>
<button id = "back" id="back" {{action "back"}}> Back</button>
</center>
