<style>
table, td {
    border: 1px solid black;
    font-size: 25px;
}
table {
  border-collapse: collapse;
  padding: 15px;
}
</style>
<div>
  <br/>
  <b>Enter the table_name:</b><br/>
  {{input type="text" id="table_name" name="table_name" value=table_name placeholder="Enter table_name" }}
  <button {{action "display"}}>Go</button>
</div>
<center><br/><br/>
<div id="tablediv">
	<table id="table">
		<thead id="tablehead">
		</thead>
		<tbody id = "tablebody">
			<!-- <tr></tr> -->
		</tbody>
	</table>
  {{message}}
</div>
</center>
